/* ======= Header is Start Here ========= */
.header {
  width: 100%;
  float: left;
  padding: 5px;
  background: var(--darkGray);
  z-index: 9999999999;
}

.header .logo {
  width: 70px;
}

.header .logo img {
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav a {
  color: var(--orange);
  padding: 3px 15px;
  transition: .5s;
  position: relative;
}

.header .nav a:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  left: 0;
  bottom: 0;
  transition: .5s;
  animation: HoverEffect .2s ease-in;
}

.active {
  background-color: #ff573342;
  padding: 5px 15px;
}

.header .nav a {
  margin: 0 5px;
}

.header .nav ul {
  display: flex;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav a svg {
  font-size: 20px;
  margin: 5px 2px 0 0;
}

.header .nav .after_cart {
  position: relative;
}

.header .nav .after_cart::after {
  content: attr(cart);
  position: absolute;
  top: -10px;
  right: -8px;
  font-size: 15px;
  font-weight: 500;
}

.mobileMenu {
  display: none;
}

/* ======= Header is End Here ========= */

/* ======= Category is Start Here ========= */
.category {
  width: 100%;
  float: left;
  padding: 50px 0;
  background: var(--lightColor);
}

.category .prod_card .img img {
  border-radius: 50%;
  width: 100%;
}

.category .prod_card .img {
  width: 100%;
  background: #fff;
  border-radius: 50%;
  padding: 20px;
  z-index: -1;
}

.category .prod_card h3 {
  margin-top: 10px;
  color: var(--orange);
  font-size: 1rem;
}

.category .prod_card {
  margin: 0 20px;
  border-radius: 50%;
  text-align: center;
}

.category .react-multi-carousel-list {
  padding: 0 0 50px 0;
}

.category .react-multi-carousel-dot--active button {
  background: var(--orange) !important;
}

.category .react-multi-carousel-dot-list li button {
  background-color: var(--darkGray);
  border: none;
}

.category .head h2 {
  color: var(--orange);
}

.category .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* ======= Category is End Here ========= */

/* ======= All Category is Start Here ========= */
.allCategory .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.allCategory .prod_card .img img {
  width: 100%;
}

.allCategory .prod_card .img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
}

.allCategory .prod_card h3 {
  color: var(--orange);
}

.allCategory .prod_card {
  margin: 10px 20px;
  text-align: center;
  width: 300px;
  padding: 30px 20px;
  background: var(--darkGray);
}

/* ======= All Category is End Here ========= */

/* ======= Product is Start Here ========= */
.product {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.product .head h2 {
  color: var(--orange);
}

.product .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .allProd {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .allProd .prodCard .img img {
  width: 100%;
}

.product .allProd .prodCard .img {
  width: 100%;
}

.product .allProd .prodCard .content strike {
  color: var(--fontGray);
}

.product .allProd .prodCard .content h4 {
  color: var(--orange);
}

.product .allProd .prodCard .content h3 {
  color: var(--orange);
}

.product .allProd .prodCard {
  border-radius: 10px;
  padding: 15px 15px;
  width: 100%;
  max-width: 260px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  margin: 10px 5px;
}

.product .react-multi-carousel-list {
  z-index: -9 !important;
}

/* ======= Product is End Here ========= */

/* ======= banner_content is Start Here ========= */
.banner_content {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.banner_content .container .image img {
  width: 100%;
  border-radius: 20px;
}

.banner_content .container .image {
  width: 50%;
}

.banner_content .container .content {
  padding-right: 20px;
  width: 50%;
}

.banner_content .container .shopnow {
  padding: 10px 15px;
  margin-top: 10px;
}

.banner_content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content .content h1 {
  color: var(--orange);
}

.banner_content .content h3 {
  color: var(--orange);
}

/* ======= banner_content is End Here ========= */

/* ======= Trusted_content is Start Here ========= */
.treastedComp {
  width: 100%;
  float: left;
  padding: 50px 0;
  background-color: var(--lightColor);
}

.treastedComp .compenies img {
  width: 200px;
  margin: 10px 20px;
}

.treastedComp .compenies {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.treastedComp h2 {
  color: var(--orange);
}

/* ======= Trusted_content is End Here ========= */

/* ======= our Services is Start Here ========= */
.ourServices {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.ourServices h2 {
  color: var(--orange);
}

.ourServices .services .serve svg {
  font-size: 5rem;
  color: var(--orange);
}

.ourServices .services .serve h5 {
  color: var(--orange);
}

.ourServices .services .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}


.ourServices .services .center .center_serve h5 {
  color: var(--orange);
}

.ourServices .services .center .center_serve svg {
  font-size: 50px;
  margin-right: 10px;
  color: var(--orange);
}

.ourServices .services .center .center_serve {
  height: 50%;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.ourServices .services .center .center_serve:first-child {
  margin-bottom: 20px;
}

.ourServices .services .serve {
  margin: 0 20px;
  padding: 50px;
  text-align: center;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.ourServices .services {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ======= our Services is End Here ========= */

/* ======= contactForm is Start Here ========= */
.contactForm {
  padding: 50px 0;
  width: 100%;
  float: left;
}

.contactForm .container form input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--fontGray);
  outline: none;
  margin-top: 20px;
}

.contactForm .container form button {
  margin-top: 20px;
  padding: 10px 50px;
}

.contactForm .container form textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--fontGray);
  outline: none;
  margin-top: 20px;
}

.contactForm h2 {
  color: var(--orange);
}

.contactForm .container form {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.contactForm .container {
  text-align: center;
}

/* ======= contactForm is End Here ========= */

/* ======= Footer is Start Here ========= */
.footer {
  width: 100%;
  float: left;
  padding: 50px 0 20px 0;
  background: var(--darkGray);
}

.footer .content img {
  width: 80px;
  margin-bottom: 10px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container>div:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.footer .container>div:last-child {
  margin-right: 0px;
  padding-right: 0px;
}

.footer .container>div {
  margin: 0 20px;
  padding: 20px;
  width: 30%;
}
.footer .quickLinks ul li a{
  color: var(--orange);
  padding: 5px 15px;
  display: inline-block;
}
.footer .quickLinks ul li{
  display: block;
  margin-top: 5px;
}
.footer div h4{
  color: var(--orange);
}
.footer div h3{
  margin-bottom: 20px;
}

/* ======= Footer is End Here ========= */


/* ======= Error Page is Start Here ========= */
.error_Page {
  width: 100%;
  height: 80vh;
  float: left;
}

.error_Page .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_Page .globalBtnFill {
  margin-top: 20px;
}

.error_Page .content {
  text-align: center;
  width: 100%;
  max-width: 450px;
  padding: 70px 0;
  background: #f6f6f6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.error_Page .content h1 {
  color: var(--orange);
  margin-bottom: 10px;
}

.error_Page .content p {
  color: var(--fontGray);
}

/* ======= Error Page is End Here ========= */

/* ======= Responsive is Start Here ========= */
/* Tablate 768px width  */
@media (max-width: 768px) {
  .header .nav a {
    padding: 3px 10px;
  }

  .header .logo {
    width: 60px;
  }
}

/* Tablate 560px width  */
@media (max-width: 560px) {
  .header {
    padding: 0 0;
  }

  .header .nav .menu {
    transition: .5s;
    position: absolute;
    background-color: #fff;
    width: 70%;
    right: -100%;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
  }

  .header .nav .showMenu {
    right: 0 !important;
  }

  .header .nav .menu li {
    margin-top: 10px;
  }

  .header .nav .menu li a {
    font-size: 20px;
  }

  .header .nav a {
    padding: 3px 7px;
  }

  .mobileMenu {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    z-index: 999999;
  }

  .mobileMenu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--orange);
    margin-bottom: 10px;
  }

  .mobileMenu span:last-child {
    margin-bottom: 0;
  }

  .header .nav .cartHere {
    padding: 3px 15px;
  }

}

/* Tablate 425px width  */
@media (max-width: 426px) {
  .product .allProd .prodCard {
    max-width: 90%;
    margin: 10px auto;
  }

  .product .allProd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .banner_content .container .image {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .banner_content .container .content {
    width: 100%;
    text-align: center;
  }

  .banner_content .container {
    flex-direction: column;
  }

  .allCategory .prod_card {
    width: 90%;
  }

  .product {
    padding: 50px 0;
  }

  .banner_content .container .content {
    padding-right: 0;
  }

  .ourServices .services .center_serve {
    padding: 50px 0;
  }

  .ourServices .services .serve {
    width: 100%;
    margin: 20px 0;
  }

  .ourServices .services .center {
    width: 100%;
  }

  .treastedComp .compenies {
    justify-content: center;
  }

  .footer .container>div {
    width: 100%;
    padding: 10px 0;
    border: 1px solid red;
    margin: 10px 0;
  }

  .footer .container {
    flex-direction: column;
  }
}

/* ======= Responsive is End Here ========= */